  
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>TFINDER</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

</head>
<body>
   {%  include 'navbar.html' %}
  <div class="container-fluid">
  {% block content %}

  {% endblock %}

 
    <div class="card card-body">

      <form method="get">
        {{myFilter.form}}<br>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  <div class="card card-body">
    <table class="table">
  <thead class="table-primary">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Designation</th>
      <th scope="col">Subject</th>
      <th scope="col">Level</th>
      <th scope="col">Experience</th>
      <th scope="col">Email</th>
      <th scope="col">PH.NO</th>
      <th scope="col">Location</th>
      <th scope="col">Description</th>
      
    </tr>
  </thead>
   {%for des in dest%}
  <tbody>
    <tr>
      <td>{{des.name }}</td>
      <td>{{des.age}}</td>
      <td>{{des.gender}}</td>
      <td>{{des.des}}</td>
      <td>{{des.sub}}</td>
      <td>{{des.lev}}</td>
      <td>{{des.exp}}</td>
      <td>{{des.email}}</td>
      <td>{{des.phno}}</td>
      <td>{{des.loc}}</td>
      <td>{{des.desp}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>


  <hr>
</body>

</style>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>